name: CI
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Test
        run: mvn --batch-mode test
      - name: Build lib
        run: mvn --batch-mode clean package -DskipTests
      - name: Build CLI
        run: mvn --batch-mode clean package -Pcli -DskipTests
